<template>
  <button type="button" class="btn btn-light pull-righ">{{texto}}</button>
</template>


<script>
  export default {
    name: 'ButtonSair',
    props: {
      texto: String
    }
  }
</script>

<style>
.sair {
  opacity: 0.7;
}
</style>

