<template>
  <button class="btn btn-danger">{{ texto }}</button>
</template>


<script>
export default {
  name: 'ButtonExcluir',
  props: {
    texto: String
  }
}
</script>

<style scoped>
button {
  margin: 10px;
}
button:hover {
  background: red!important;
}
</style>
