<template>
 <button class="btn  btn-sm btn-primary pull-righ">{{ texto }}</button>
</template>
<script>
export default {
 name: "ButtonMeusJogos",
 props: {
   texto: String
 }
};
</script>

<style scoped>
button {
 margin: 10px;
 background: #517664 !important;
 border-color: #517664;
}
button:hover {
 background: #3fca79 !important;
 border-color: #3fca79;
}
</style>