<template>
  <button class="btn btn-primary pull-righ">{{ texto }}</button>
</template>


<script>
export default {
  name: 'Button',
  props: {
    texto: String
  }
}
</script>

<style scoped>
button {
  margin: 10px;
  background: #005BAA !important;
}
button:hover {
  background: rgb(2, 72, 133) !important;
}
</style>

