<template>
  <div id="content">
    <EmailInput nome="usuario" ref="usuarioRef" v-model="email"/>
    <PasswordInput nome="senha" ref="senhaRef" v-model="password"/>
    <Button texto="Entrar" v-on:click.native="logar"/>
  </div>
</template>

<script>
 import Button from '../shared/Button.vue'
 import EmailInput from '../shared/EmailInput.vue'
 import PasswordInput from '../shared/PasswordInput.vue'
 export default {
   name: 'ContentBox',
   components: {
     Button, EmailInput, PasswordInput
   },
   data() {
         return {
           email:'',
           password:''
         }
   },
   methods: {
     onSubmit() {
       
       this.textoBotao = 'Aguarde...'
       
     },
     logar() {
       const usuario = this.$refs.usuarioRef.valor
       const senha = this.$refs.senhaRef.valor;
       if(usuario === 'admin' && senha === 'admin'){
         const usuario = 
           {
            "id": 1,
            "username": "admin.admin",
            "primeiroNome": "admin",
            "sobrenome": "admin",
            "password": "admin",
            "jogosList": []
        }
        this.$router.push({name:"principal", params: {usuario}})
        console.log("NOME DO USU[ARIO SAINDO DE LOGIN " + usuario.primeiroNome);
        
       }
      }
    }
  }

</script>
<style>
#content {
	width: 580px;
  margin: auto;
}
</style>
