<template>
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="text" v-validate="'required|email|email-dbc'" v-bind:name="nome" v-model="valor" class="form-control" 
    id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="admin">
    </div>
</template>
<script>
export default {
  name: 'EmailInput',
  props: {
    nome: String
  },
  data: () => {
    return {
      valor: '',
    }
  }
}
</script>

<style>
.form-group{
  text-align: left ;
}
</style>

