<template>
      <tr>
      <th scope="row">{{jogo.titulo}}</th>
      <td>{{jogo.categoria}}</td>
      <td>{{jogo.preco}}</td>
      <td><Button texto="Comprar" v-on:click.native="comprar"/></td>
      </tr>
</template>
<script>
import Button from "./Button.vue";
export default {
  name: "LinhaJogo",
  components: {
    Button
  },
  props: {
    jogo: "",
    usuario: ""
  },
  created() {
  },
  methods:{
    async comprar() {
      console.log("Botao comprar apertado");
      await fetch("http://localhost:10334/api/usuario/comprar", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          idJogo: this.jogo.id,
          idUsuario: this.usuario.id
        })
      })
        .then(j => j.json())
        .then(response => {});
    }
  }
}
</script>

