<template>
      <tr>
      <th scope="row">{{jogo.titulo}}</th>
      <td>{{jogo.categoria}}</td>
      <td>{{jogo.preco}}</td>
      </tr>
</template>
<script>
import Button from "./Button.vue";
export default {
  name: "LinhaJogoSemButton",
  components: {
    Button
  },
  props: {
    jogo: "",
    usuario: ""
  },
}
</script>

