<template>
    <div>
        <img src="public/imgs/logo-meetup-DBC-branco.png" alt="">
    </div>
</template>
<script>
export default {
  name: 'Logo',
}
</script>
<style scoped>
img{
    margin-bottom: 100px;
}
</style>
