<template>
  <div class="form-group">
    <label v-bind:for="nome">Senha</label>
    <input type="password" v-bind:name="nome" v-validate="'validacao'" v-model="valor" class="form-control" v-bind:id="nome" placeholder="Senha">
    <div v-show="errors.has(this.nome)" class="alert alert-danger">
      <span>{{ errors.first(this.nome) }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PasswordInput',
  props: {
    senha: String
  },
  data: () => {
    return {
      valor: ''
    }
  },
  created(){
    this.$validator.extend('validacao', {
      getMessage() {
        return 'Usuário ou senha inválidos'
      },
      validate() {
        console.log(window.localStorage.getItem("botaoPressionado")==='false' || (window.localStorage.getItem("botaoPressionado")==='true' && window.localStorage.getItem("a")===1 && window.localStorage.getItem("accessToken")!='undefined'))
        return window.localStorage.getItem("botaoPressionado")==='false' || (window.localStorage.getItem("botaoPressionado")==='true' && window.localStorage.getItem("a")===1 && window.localStorage.getItem("accessToken")!='undefined')
      }
    })
  }
}
</script>
