<template>
    <div class="box">
    <h1>Games4You</h1>
    <ContentBoxLogin/>
  </div>
</template>

<script>
import ContentBoxLogin from '../shared/ContentBoxLogin.vue'

export default {
  name: 'Login',
  components: {
   ContentBoxLogin
  },
  beforeCreate: function() {
    document.body.className = 'home'
  }
}
</script>

<style scoped>
h1{
  font-size: 70px;
  color: white;
}
.box {
  padding-top: 20vh;
}
</style>

