<template>
<div>
    <h1>Meus jogos</h1>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Titulo</th>
      <th scope="col">Categoria</th>
      <th scope="col">Preço</th>
    </tr>
  </thead>
  <tbody v-bind:key="jogo.id" v-for="jogo in jogos">
    <LinhaJogoSemButton v-bind:jogo="jogo"/>
  </tbody>
</table>
  <ButtonExcluir texto="Voltar" v-on:click.native="voltarPrincipal"/>
</div>
</template>
<script>
import LinhaJogoSemButton from "../shared/LinhaJogoSemButton.vue";
import ButtonExcluir from "../shared/ButtonExcluir.vue";
import Jogo from "../../models/Jogo.js";
export default {
  name: "MeusJogos",
  components: {
    LinhaJogoSemButton,
    ButtonExcluir
  },
  data: () => {
    return {
      usuario: "",
      jogos: []
    };
  },
  async created() {
    this.usuario = this.$route.params.usuario;
    var jogosDoUsuario = [];
    await fetch(
      `http://localhost:10334/api/usuario/meusjogos/${this.usuario.id}`,
      {
        method: "GET",
        headers: {
          "Content-Type": "application/json"
        }
      }
    )
      .then(j => j.json())
      .then(response => {
        response.forEach(m => {
          var jogo = new Jogo(m.id, m.titulo, m.categoria, m.preco);
          jogosDoUsuario.push(jogo);
        });
      });
    this.jogos = jogosDoUsuario;
    console.log("JOGOS DO USUÁRIO");
    console.log(this.jogos);
  },
  methods: {
    voltarPrincipal() {
      const usuario = this.usuario;
      this.$router.push({ name: "principal", params: { usuario } });
    }
  }
};
</script>
