<template>
    <div class="container">
      <div class="row">
          <div class="col-sm">
            <div class="row">
              <h1>Games4You</h1>
            </div>
            <div class="row">
            </div>
        </div>
        <div class="col-sm">
        </div>
        <div class="col-sm">
          <div class="row row-left">
            <ButtonMeusJogos texto="Meus jogos" v-on:click.native="meusJogos" type="submit"/>
            <ButtonExcluir texto="Sair" v-on:click.native="voltarPrincipal"/>
          </div>
        </div>
      </div>
      <div class="row" >
        <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Titulo</th>
      <th scope="col">Categoria</th>
      <th scope="col">Preço</th>
      <th scope="col">-</th>
    </tr>
  </thead>
  <tbody v-bind:key="jogo.id" v-for="jogo in jogos">
    <LinhaJogo v-bind:jogo="jogo" v-bind:usuario="usuario"/>
  </tbody>
</table>
      </div> 
      </div>
</template>
<script>
import LinhaJogo from "../shared/LinhaJogo.vue";
import ButtonMeusJogos from "../shared/ButtonMeusJogos.vue";
import ButtonExcluir from "../shared/ButtonExcluir.vue";
import Jogo from "../../models/Jogo.js";

export default {
  name: "TelaPrincipal",
  components: {
    ButtonMeusJogos,
    ButtonExcluir, LinhaJogo
  },
  data: () => {
    return {
      usuario: '',
      jogos: [],
    };
  },
  methods: {
    logout() {
      this.$router.push({ name: "login" });
    },
    meusJogos() {
      const usuario = this.usuario
      this.$router.push({name:"meusJogos", params: {usuario}})
    },
    voltarPrincipal() {
      this.$router.push({
        name: "login"
      });
    }
  },
  async created() {
    var jogosNovos = [];
    this.usuario = this.$route.params.usuario; 
    console.log("Nome do usuário recebido de login");
    console.log(this.usuario.primeiroNome);
    fetch(`http://localhost:10334/api/jogo/`, {
      method: "GET",
    })
      .then(j => j.json())
      .then(response => {
        const jogos = response.content;
        jogos.forEach(m => {
          var jogo = new Jogo(
            m.id,
            m.titulo,
            m.categoria,
            m.preco,
          );
          jogosNovos.push(jogo);
        });
      }); 
    this.jogos = jogosNovos; 
    console.log("JOGOS VINDO DA API");
    console.log(this.jogos);
    console.log("USUARIO");
    console.log(this.usuario.username);

  },

  beforeCreate: function() {
    document.body.className = "home";
  },
};
</script>
<style scoped>
  h1{
  font-size: 70px;
  color: white;

}
.circulo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 20px;
}
.row-left {
  margin-left: 90px;
}
span {
  font-size: 12px;
  color: #005baa;
  font-weight: bold;
}
.botao-sair {
  background-color: #005baa;
}
</style>
<style scoped>
body {
  background-image: none !important;
}
#container {
  margin-top: 0px;
  margin-bottom: 0px;
}
</style>
