<template>
 <div id="app">
   <router-view></router-view>
 </div>
</template>

<script>
 import Login from './components/screens/Login.vue'
 import TelaPrincipal from './components/screens/TelaPrincipal.vue'

 export default {
   name: 'app',
   components: {
     Login,
     TelaPrincipal
   }
 }
</script>
<style>
 #app {
   font-family: 'Avenir', Helvetica, Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-align: center;
   color: #f0f1f2 !important;
   margin-top: 25px;
   height: 100%;
   width: 100%;
 }

</style>